################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/IDOLSelfCheckout/bin
/IDOLSelfCheckout/obj
/WpfLamp/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/WpfLamp/obj/Debug/WpfLamp.csproj.AssemblyReference.cache
/WpfLamp/obj/Debug/WpfLamp.csproj.FileListAbsolute.txt
/WpfLamp/obj/Debug/WpfLamp.exe
/WpfLamp/obj/Debug/WpfLamp.pdb
/WpfLamp/obj/Debug/WpfLamp_Content.g.i.cs
/WpfLamp/obj/Debug/WpfLamp_MarkupCompile.i.cache
/WpfLamp/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
/WpfLamp/obj/Release/WpfLamp.csproj.FileListAbsolute.txt
/WpfLamp/obj/Release/WpfLamp.exe
/WpfLamp/obj/Release/WpfLamp.pdb
/WpfLamp/obj/Release/WpfLamp_MarkupCompile.i.cache
/WpfLamp/bin/Debug/WpfLamp.exe
/WpfLamp/bin/Debug/WpfLamp.pdb
/WpfLamp/bin/Release/CCLLampDll452.dll
/WpfLamp/bin/Release/CCLLampDll452.lib
/WpfLamp/bin/Release/LoadWinRing.lib
/WpfLamp/bin/Release/PosCfg.ini
/WpfLamp/bin/Release/WinRing0.dll
/WpfLamp/bin/Release/WinRing0.sys
/WpfLamp/bin/Release/WinRing0x64.dll
/WpfLamp/bin/Release/WinRing0x64.sys
/WpfLamp/bin/Release/WpfLamp.exe
/WpfLamp/bin/Release/WpfLamp.pdb
/WpfLamp/obj/Debug/WpfLamp.csproj.CoreCompileInputs.cache
/WpfLamp/obj/Debug/WpfLamp_Content.g.cs
/WpfLamp/obj/Debug/WpfLamp_MarkupCompile.cache
/WpfLamp/obj/Release/WpfLamp_Content.g.cs
/WpfLamp/obj/Release/WpfLamp_MarkupCompile.cache
/DataModels/bin/Debug
/DataModels/obj/Debug
/packages
/LS_Retail/bin/Debug
/LS_Retail/obj/Debug
/On_Premises/bin/Debug
/On_Premises/obj/Debug
/Toshiba_SIT/bin/Debug
/Toshiba_SIT/obj/Debug
