<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
	</startup>
	<appSettings>
		<!-- Windows SCO Config -->
		<add key="ServiceIp" value="http://localhost:5255/" />
		<add key="TerminalNo" value="241"/>
		<add key="StoreNo" value="001"/>
		<add key="UserName" value="IDOL" />
		<add key="PassWord" value="Idol@12345" />
		<add key="PaymentDevicePort" value="COM7" />
		<add key="PaymentDevice" value="OMA880" />
		<!--<add key="ServiceIp" value="http://192.168.2.90:50000/" />-->
		<!--<add key="ServiceIp" value="http://192.168.2.159:5255/" />-->
		<!-- Windows SCO Config End -->

		<!-- Hardware config -->
		<add key="ServerName" value="GP"/><!-- SA - GP - OP -->
		<add key="OposPrinterName" value="TM-m30U" />
		<add key="LogFile" value="C:\IDOL\LOG\" />
		<add key="VideoControlSource" value="C:/IDOL/videos/Retail-Demo.mp4" />
		<add key="ServiceEndPoint" value="AEFProcess/restaefprocess/aefrun/posService" />
		<add key="LedComPort" value="1" />
		<add key="cclLampType" value="6"/>
		<!-- Hardware config End -->

		<!-- Pop ID | Face Pay config -->
		<add key="PopIdHost" value="localhost" />
		<add key="PopIdPort" value="10244" />
		<add key="PopIdSecondaryPort" value="10245" />
		<!-- Pop ID | Face Pay config End -->
	</appSettings>
</configuration>