<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<!--<appSettings>
		<add key="Service_Ip" value="http://192.168.2.90:50000/" />
		<add key="Service_EndPoint" value="AEFProcess/restaefprocess/aefrun/posService" />
	</appSettings>-->
</configuration>